> # Dear Epsilon Students, 
> # The More you practice The better You'll Be.

### Instructions: 
- Make sure that you understand this topics before you start.
- If you found something hard to do, try and try then google it and finally ask someone. 
- You can divide this work into daily tasks so that you do not feel pressure.
- After you finish, go to model answer and rate yourself. 
- If you find something ambiguous, Try to make a hypothesis to solve a problem.

### Question classification: 
- Green is level 1 
- Orange is level 2 
- Red is level 3

# <center> Let's start üí™ </center>

## <p style="color:green;">Q.01 Write a function takes a two-word string and returns True if both words begin with same letter</p>
> ('Levelheaded Llama') ‚Üí True

> ('Crazy Kangaroo') ‚Üí False

In [1]:
# Answer here

## <p style="color:green;">Q.02 Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd</p>

> (2,4) ‚Üí 2

> (2,5) ‚Üí 5

In [2]:
# Answer here

## <p style="color:green;">Q.03 Write a function that capitalizes the first and fourth letters of a name</p>
> ('macdonald') ‚Üí MacDonald

In [3]:
# Answer here

## <p style="color:green;">Q.04 Given a sentence, return a sentence with the words reversed</p>
> ('I am home') ‚Üí 'home am I'

In [4]:
# Answer here

## <p style="color:orange;">Q.05 Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.</p>
> has_33([1, 3, 3]) ‚Üí True

> has_33([1, 3, 1, 3]) ‚Üí False

In [5]:
# Answer here

## <p style="color:orange;">Q.06 BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'¬∂</p>

>blackjack(5,6,7) ‚Üí 18

>blackjack(9,9,9) ‚Üí 'BUST'

>blackjack(9,9,11) ‚Üí 19

In [6]:
# Answer here

## <p style="color:red;">Q.07 SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.</p>
>summer_69([1, 3, 5]) ‚Üí 9

>summer_69([4, 5, 6, 7, 8, 9]) ‚Üí 9

>summer_69([2, 1, 6, 9, 11]) ‚Üí 14

In [7]:
# Answer here

## <p style="color:red;">Q.08 SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order</p>

>spy_game([1,2,4,0,0,7,5]) ‚Üí True

> spy_game([1,0,2,4,0,5,7]) ‚Üí True

 >spy_game([1,7,2,0,4,5,0]) ‚Üí False

In [8]:
# Answer here

## <p style="color:green;">Q.09 Write a function that checks whether a number is in a given range (inclusive of high and low)</p>

In [9]:
# Answer here

## <p style="color:orange;">Q.10 Write a Python function to multiply all the numbers in a list.</p>
> Sample List : [1, 2, 3, -4]

> Expected Output : -24

In [10]:
# Answer here

## <p style="color:red;">Q.11 Write a Python function that checks whether a passed string is palindrome or not.</p>
>Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [11]:
# Answer here

## <p style="color:green;">Q.12 Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument

In [12]:
# Answer here

## <p style="color:green;">Q.13 create a lambda function that multiplies argument x with argument y and print the result.</p>

In [13]:
# Answer here

## <p style="color:orange;">Q.14 Write a Python program to filter a list of integers using Lambda. </p>
> Original list of integers:[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

> Even numbers from the said list:[2, 4, 6, 8, 10]

> Odd numbers from the said list:[1, 3, 5, 7, 9]

In [14]:
# Answer here

## <p style="color:green;">Q.15 Write a Python program to triple all numbers of a given list of integers. Use Python map.</p>

In [15]:
# Answer here

## <p style="color:orange;">Q.16 Write a Python program to add three given lists using Python map and lambda.

</p>

In [16]:
# Answer here

## <p style="color:orange;">Q.17 Write a Python program to square the elements of a list using map() function.</p>

In [17]:
# Answer here

## <p style="color:green;">Q.18 Using filter() function filter the list so that only negative numbers are left.</p>
> lst1  [12,-1,9,8,-.5,-.2,-100]

In [18]:
# Answer here

## <p style="color:green;">Q.19 Using filter function, filter the even numbers so that only odd numbers are passed to the new list.</p>
> lst1  [22,100,19,13,11,1,4,66]

In [19]:
# Answer here

## <p style="color:green;">Q.20 Using map() and filter() functions add 2000 to the values below 8000.</p>
> lst [1000,500,600,700,5000,90000,17500]

In [20]:
# Answer here

# <center> Thank's for your effort ‚ù§Ô∏è </center>