## Functions

In [8]:
print('hello', 'mohamed','llll',5,sep='-',end='\t')
print('llllllllll')

hello-mohamed-llll-5	llllllllll

In [12]:
def greeting(name):
    
    print('hello',name)

In [17]:
greeting(4)

hello 4

In [21]:
def add(n1,n2):
    
    print('sum:',n1+n2)
    print(n1)
    print(n2)

In [22]:
add(1,5)

sum: 6
1
5

In [25]:
def sub(n1,n2):
    '''
    sub: subtract n2 from n1
    n1: int value 
    n2: int value
    examble: sub(9,2)==>7
    '''
    print(n1-n2)

In [24]:
sub(9,2)

7

In [28]:
x=print('hello')

hello

In [29]:
x

In [30]:
x=input()

uuuu

In [31]:
x

'uuuu'

In [32]:
def area(radius):
    return (3/4)*radius**2

In [35]:

var=area(3)#var=33

In [34]:
x

'uuuu'

In [36]:
var

6.75

In [37]:
c=add(2,4)

sum: 6
2
4

In [38]:
c

In [39]:
def f1(n):
    if n==2:
        return 'ok'
    return 'mmmmm'

In [45]:
f1('ll')

'mmmmm'

In [41]:
f1(2)

'ok'

In [43]:
n=2
if n==2:
    print('ok')
print(',mmm')

ok
,mmm

In [46]:
x=9

In [47]:
x

9

In [56]:
def calc(n1=1,n2=1,op='+'):
    
    if op=='+':
        return n1+n2
    elif op=='-':
        return n1-n2
    elif op=='/':
        if n2==0:
            print('can not divide on zero')
        else:
            return n1/n2
    elif op=='*':
        return n1*n2
    else:
        print('wrong operator')

In [50]:


calc(3,5,'*')

15

In [52]:
calc(3,'+',1)

wrong operator

In [53]:
calc(n1=3,op='/',n2=8)

0.375

In [57]:
calc()

2

In [58]:
calc(1,3)

4

In [59]:
calc(3,4,'+')

7

In [61]:
calc(n1=3,op='+',n2=4)

7

In [62]:
def f2(*args):
    for i in args:
        print(i)

In [63]:
f2(9,10,11)

9
10
11

In [64]:
f2(1,2,3,4,5,7)

1
2
3
4
5
7

In [88]:
def fp(*values,sep=' '):
    s=''
    for i in range(len(values)-1):
        s+=str(values[i])+sep
    s+=str(values[i+1])
    print(s)

In [91]:
fp(1,2,'lll',4,6,'ppp',sep='/')

1/2/lll/4/6/ppp

In [96]:
def calc(*numbers,op='+'):
    
    if op=='+':
        summ=0
        for n in numbers:
            summ+=n
        return summ
    elif op=='-':
        sub=numbers[0]
        for i in range(1,len(numbers)):
            sub-=numbers[i]
        return sub
    elif op=='/':
        s=numbers[0]
        for i in range(1,len(numbers)):
            if numbers[i]==0:
                print('can not divide on zero')
                print('number in the index',i)
                continue
            else:
                s/=numbers[i]
        return s
    elif op=='*':
        d=1
        for n in numbers:
            d*=n
        return d
    else:
        print('wrong operator')

In [97]:
calc(1,4,2,6,2,7)

22

In [98]:
calc(4,3,5,0,2,op='/')

can not divide on zero
number in the index 3

0.13333333333333333

In [99]:
calc(12,4,0,1,op='/')

can not divide on zero
number in the index 2

3.0

In [109]:
def func(**d):
    return(d)

In [110]:
func(n1=9,n2=8,n3=7)

{'n1': 9, 'n2': 8, 'n3': 7}

In [111]:
func(n3=9,n={'n2':9,'n1':8},m=8,b=7,h=7)

{'n3': 9, 'n': {'n2': 9, 'n1': 8}, 'm': 8, 'b': 7, 'h': 7}

In [112]:
func(n3=9,n=func(n2=9,n1=8),m=8,b=7,h=7)

{'n3': 9, 'n': {'n2': 9, 'n1': 8}, 'm': 8, 'b': 7, 'h': 7}

In [103]:
def f2(*n):
    print(n)

In [104]:
f2(1,2,4,5,6)

(1, 2, 4, 5, 6)

In [105]:
f2(9,4,5,6,3,2,124)

(9, 4, 5, 6, 3, 2, 124)

In [113]:
def func(a):
    print(a)
    a=9
    print(a)

In [116]:
a=90
func(10)

10
9

In [117]:
a

90

In [118]:
a=80
def func():
    global a
    
    print(a)
    a=8
    print(a)

In [119]:

func()

80
8

In [120]:
a

8

In [121]:
l=[1,2,3,4,5]
result=[]
for i in l:
    result.append(i**2)
result

[1, 4, 9, 16, 25]

In [122]:
result=[i**2 for i in l]
result

[1, 4, 9, 16, 25]

In [123]:
def p2(n):
    return n**2




result=[]
for i in l:
    result.append(p2(i))
    
result

[1, 4, 9, 16, 25]

In [127]:
def op(n):
    return n**2

list(map(op,(1,2,3,4,5)))

[1, 4, 9, 16, 25]

In [128]:
l=list(range(2,15))
l

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [129]:
result=[i for i in l if i%2==0]
result

[2, 4, 6, 8, 10, 12, 14]

In [130]:
def even(lo):
    result=[]
    for i in lo:
        if i%2==0:
            result.append(i)
    return result      
even(l)

[2, 4, 6, 8, 10, 12, 14]

In [132]:
def even(n):
    if n%2==0:
        return n
    else:
        1+1
result=[]
for i in l:
    result.append(even(i))
result

[2, None, 4, None, 6, None, 8, None, 10, None, 12, None, 14]

In [133]:
def chk_even(n):
    
    return n%2==0

list(filter(chk_even,l))

[2, 4, 6, 8, 10, 12, 14]

In [135]:
def cub(n):
    return n**3

list(map(cub,filter(chk_even,l)))

[8, 64, 216, 512, 1000, 1728, 2744]

In [136]:
from functools import reduce

In [140]:


l=[3,4,5,8,1]

def v(n1,n2):
    return n1*n2

reduce(v,l)

480

In [143]:


lambda n: n*2

In [142]:
f(8)

16

In [144]:
l=[3,4,5,8,1]
def d(n):
    return n*2
list(map(d,l))

[6, 8, 10, 16, 2]

In [145]:
list(map(lambda a:a*2/3 ,l))

[6, 8, 10, 16, 2]

In [153]:
reduce(lambda n1,n2:n1*n2,map(lambda x:x**2,filter(lambda x:x%2==0,range(1,15))))

416179814400

In [154]:
l=['mm','ii',12,44]
import random

In [158]:
random.choice(l)

44

In [159]:
w='12'
w.isalpha()

False

In [160]:
name='mohamed'
'o' in name

True

In [161]:
name.count('m')

2

In [162]:
l=''
l+='m'*2
l

'mm'