In [17]:
import pymysql
import pandas as pd

In [18]:
# Connect to the MySQL database.
conn = pymysql.connect(host="127.0.0.1", user="omar.e", password="omar_321", database="omar.rme")
cursor = conn.cursor()

In [19]:
# Read the Excel file and column names.
df = pd.read_excel("test.xlsx")
column_names = list(df.columns)

In [20]:
# Iterate through the rows in the DataFrame and insert the data into the MySQL table.
for index, row in df.iterrows():
    data = list(row)
    data[1] = str(data[1])
    data[2] = str(data[2])

    cursor.execute("INSERT INTO test01 ({}) VALUES ({})".format(", ".join(column_names), ", ".join(data)))

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'binary) VALUES (omar, 33, 1.0)' at line 1")

In [ ]:
# Commit the changes to the MySQL database.
conn.commit()