In [ ]:
try:
    #code block

except:
    #codeblock
else:
    #code block
finally:
    #code block

In [8]:
n1, n2 = int(input()), int(input())
try:
    print(n1/n2)
    l = [2]
    print(l[2])
except ZeroDivisionError:
    print('Zero Division Error')
except Exception as e:
    print(e.args[0])
finally:
    print('am always exist no matter happend')

5
1
5.0
list index out of range
am always exist no matter happend

In [12]:
error = True
while error:
    try:
        n1, n2 = int(input('Enter Your Age')), int(input('Enter Your Balance'))
        error = False
    except:
        print('Error Try Again')

Enter Your Age5
Enter Your Balancesafa
Error Try Again
Enter Your Age5
Enter Your Balancefwaf
Error Try Again
Enter Your Age25
Enter Your Balance48464

In [13]:
try:
    name = input('Enter Your Name')
    age = input('Enter Your Age')
    print(name, float(age))
except:
    print('there was an error!')

Enter Your Nameanas
Enter Your Ageafw
there was an error!

In [14]:
file = open('test.txt', 'w')

In [15]:
file.write('Hello world!')

12

In [16]:
file.close()

In [17]:
import os

In [18]:
os.listdir()

['.ipynb_checkpoints',
 'Day 3 (Solution).ipynb',
 'Day 3 (Template).ipynb',
 'test.txt',
 'Untitled.ipynb']

In [21]:
file_name = 'test.txt'
if file_name in os.listdir():
    print('Oo file is existed')
    file = open(file_name, 'r+')
    print(file.read())
    file.seek(0)
    print(file.readlines())
    file.close()
else:
    print(':( file will be created because its not found!')
    file = open(file_name, 'w+')
    file.writelines(['Egypt\n', 'Cairo\n', 'New Cairo\n'])
    file.seek(0)
    print(file.read())
    file.seek(0)
    print(file.readlines())
    file.close()

:( file will be created because its not found!
Egypt
Cairo
New Cairo

['Egypt\n', 'Cairo\n', 'New Cairo\n']

In [25]:
print('Oo file is existed')
file = open(file_name, 'r+')
print(file.read())
file.seek(0)
print(file.readlines())
file.seek(0)
file.truncate()
file.close()

Oo file is existed
Egypt
Cairo
New Cairo

['Egypt\n', 'Cairo\n', 'New Cairo\n']

In [26]:
os.remove('test.txt')

In [39]:
os.getcwd() # get current working directory

'C:\\Users\\Public\\Downloads'

In [42]:
x = r'D:\epsilon work\exception and file handling'.replace('\\', '\\\\')
os.chdir(x)

In [43]:
os.getcwd()

'D:\\epsilon work\\exception and file handling'

In [44]:
%cd ..

D:\epsilon work

In [48]:
%cd D:\\epsilon work\\exception and file handling

D:\epsilon work\exception and file handling

In [49]:
%cd ..

D:\epsilon work

In [37]:
x = 'C:\Users\Public\Downloads'.replace('\\', '\\\\')
x

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (4002948250.py, line 1)

In [50]:
import csv

In [52]:
with open('test.txt', 'w+') as f:
    f.write('What About Data Science do you like it ?'.title())
    f.seek(0)
    print(f.read(10))
    f.seek(0)
    print(f.read())

What About
What About Data Science Do You Like It ?

In [53]:
with open('test.txt', 'r+') as f:
    f.truncate()
    f.write('Hello World\n' * 5)

In [55]:
with open('test.txt', 'r+') as f:
    print(f.readlines())

['Hello World\n', 'Hello World\n', 'Hello World\n', 'Hello World\n', 'Hello World\n']

In [58]:
with open('test.txt', 'r+') as f:
    lines = f.readlines()
    lines[2] = 'World!\n'
    f.seek(0)
    f.truncate()
    f.writelines(lines)
    f.seek(0)
    print(f.readlines())

['Hello World\n', 'Hello World\n', 'World!\n', 'Hello World\n', 'Hello World\n']

In [59]:
import xlsxwriter

In [73]:
workbook = xlsxwriter.Workbook('persons.xlsx')
worksheet = workbook.add_worksheet()

# header block
headers = ['Name', 'Age', 'Gender', 'Salary', 'Role']
for col in range(len(headers)):
    worksheet.write(0, col, headers[col])

    
# content
d = {
    'Name':['Ahmed', 'Mohamed', 'Ibrahim', 'Sara', 'Yasmin'],
    'Age':[25, 50, 44, 24, 15],
    'Gender':['male', 'male', 'male', 'female', 'female'],
    'Salary': [5000, 2000, 10000, 8000, 1000],
    'Role':['Civil Engineer', 'Data Analyst', 'SW Developer', 'Ml Engineer', 'Student']
}
for col in range(len(d.keys())):
    key = list(d.keys())[col]
    for row in range(1,len(d[key])+1):
        worksheet.write(row, col, d[key][row-1])

workbook.close()

In [74]:
import pandas as pd

In [76]:
pd.read_excel('persons.xlsx')

      Name  Age  Gender  Salary            Role
0    Ahmed   25    male    5000  Civil Engineer
1  Mohamed   50    male    2000    Data Analyst
2  Ibrahim   44    male   10000    SW Developer
3     Sara   24  female    8000     Ml Engineer
4   Yasmin   15  female    1000         Student

In [63]:
os.getcwd()

'D:\\epsilon work'

In [65]:
d = {
    'Name':['Ahmed', 'Mohamed', 'Ibrahim', 'Sara', 'Yasmin'],
    'Age':[25, 50, 44, 24, 15],
    'Gender':['male', 'male', 'male', 'female', 'female'],
    'Salary': [5000, 2000, 10000, 8000, 1000],
    'Role':['Civil Engineer', 'Data Analyst', 'SW Developer', 'Ml Engineer', 'Student']
}

In [71]:
key= list(d.keys())[0]
l = len(d[key])
d[key][0]

'Ahmed'