In [37]:
import pandas as pd

# importing existing project names and cleaning df
df_names = pd.read_excel('04-POC Apr 2023 Actual Cost 16-5-2023.xlsx', sheet_name='Mataching')
df_names.dropna(inplace=True, how='all')
unnamed_cols = [col for col in df_names.columns if col.startswith('Unnamed')]
df_names.drop(unnamed_cols,axis=1,inplace=True)
df_names

                       Description           Names as per our report
0   Kayan 3 New Cairo Capital City                      Kyan Project
1             Ministries Buildings                Ministry Building
2                       Royal City                   Royal City Mall
3             Mohammed Ali Palace                 Mohamed Ali Palace
4                     R05 - Zone 2                      R05 District
..                             ...                               ...
59            DP World Basin 2 Ph2              DP World Basin 2 Ph2
60         Seashell Playa 5 Villas           Seashell Playa 5 Villas
61             Kafr Shoukr  Bridge               Kafer Shoukr Bridge
62           Abo Shanab El Agamien             Abo Shanab El Agamien
63               MAF HQ Renovation  Carrefour Head office Renovation

[64 rows x 2 columns]

In [38]:
# importing POC Apr 2023 Actual Cost and transposing
df_cost = pd.read_excel('0. Copy of 04-POC Apr 2023- After Reflecting all Year Cost.xlsx', sheet_name='2022')
df_cost = df_cost.T
df_cost = df_cost.reset_index()
columns_to_keep=[0,12,27]
df_cost = df_cost[columns_to_keep]
df_cost.columns = df_cost.iloc[0]
df_cost = df_cost[1:]
df_cost

,Description,Cost Incured To Date,POC Revenues Up To date
1,Kayan 3 New Cairo Capital City,15074142.78,8243836.144884
2,Ministries Buildings,131610311.290771,133954515.308673
3,Royal City,21782348.140211,22835043.652595
4,Mohammed Ali Palace,4478482.663424,4714192.277289
5,R05 - Zone 2,294326254.920454,298808380.629903
...,...,...,...
92,NaN,NaN,NaN
93,NaN,NaN,NaN
94,NaN,NaN,NaN
95,NaN,NaN,NaN
96,NaN,NaN,NaN

In [39]:
# importing Revenue sheet in a dataframe and cleaning
df_rev = pd.read_excel('Revenue.xlsx', sheet_name='Revise Cost 2023')
df_rev.columns = df_rev.iloc[3]
df_rev = df_rev[4:]
df_rev

3,Operation,Type of Project,Client,Serial,Projects Manager,Cost Center,Project Name,Revised Contract Amount,Forcast Gross Margine%,Tender GM%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Residential,Private,1,Osama Mezayn,137,ORA Zed PKGs A & D,952143211,0.005,0.005,...,0.050000,0.005000,0.050000,0.005000,-0.116140,NaN,2.878460e+08,NaN,12.0,8.0
5,1,Industrial,Private,2,Mohamed El Saman,94,DP World Sokhna,1611128362.46001,0.255442,0.1044,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1,Commercial,Private,3,Other,92,Sodic East - EDNC,1145187121,0.057735,0.0536,...,0.057735,0.057735,0.045510,0.057735,0.497424,5.773434e-02,1.556947e+07,NaN,6.0,2.0
7,1,Commercial,Private,4,Mohamed Fawzy,113,CFC Poduim 2,637419839.063495,0.257305,0.119,...,0.257305,0.257305,0.257305,0.257305,0.257305,2.573048e-01,6.299987e+06,NaN,4.0,2.0
8,1,Commercial,Private,5,Mohamed Fawzy,141,ElSewedy HQ Internal Finishing,362983478.4,0.063575,0.0774,...,0.063575,0.063575,0.075000,0.063575,0.003952,1.264080e+07,5.814151e+07,NaN,4.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
# adding new column to revenue sheet that contains our subtracted values
for i,name in enumerate(df_rev['Project Name']):
    try:
        control_name = df_names[df_names['Names as per our report'] == name]['Description'].values[0]
        cost = df_cost[df_cost['Description'] == control_name]['Cost Incured To Date '].values[0]
        revenue = df_cost[df_cost['Description'] == control_name]['POC Revenues Up To date'].values[0]
        df_rev.loc[i, 'New Column'] = revenue - cost
    except:
        df_rev.loc[i, 'New Column'] = 'No Value'
df_rev.insert(8, 'Rev - Cost', df_rev.pop('New Column'))
df_rev
# You can export df_rev to excel and replace the original file with the new column "Rev - Cost" added

3,Operation,Type of Project,Client,Serial,Projects Manager,Cost Center,Project Name,Revised Contract Amount,Rev - Cost,Forcast Gross Margine%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Residential,Private,1,Osama Mezayn,137,ORA Zed PKGs A & D,952143211,807410.636414,0.005,...,0.050000,0.005000,0.050000,0.005000,-0.116140,NaN,2.878460e+08,NaN,12.0,8.0
5,1,Industrial,Private,2,Mohamed El Saman,94,DP World Sokhna,1611128362.46001,38603893.276216,0.255442,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1,Commercial,Private,3,Other,92,Sodic East - EDNC,1145187121,No Value,0.057735,...,0.057735,0.057735,0.045510,0.057735,0.497424,5.773434e-02,1.556947e+07,NaN,6.0,2.0
7,1,Commercial,Private,4,Mohamed Fawzy,113,CFC Poduim 2,637419839.063495,No Value,0.257305,...,0.257305,0.257305,0.257305,0.257305,0.257305,2.573048e-01,6.299987e+06,NaN,4.0,2.0
8,1,Commercial,Private,5,Mohamed Fawzy,141,ElSewedy HQ Internal Finishing,362983478.4,No Value,0.063575,...,0.063575,0.063575,0.075000,0.063575,0.003952,1.264080e+07,5.814151e+07,NaN,4.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15013767.082977,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No Value,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14972036.535136,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2191419.258194,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN