In [3]:
file=open('test2.txt','w')

In [4]:
file.write('statment\n')

9

In [5]:
l=['kkk\n','jjjj\n']

In [6]:
file.writelines(l)

In [7]:
file.close()

In [9]:
file=open('test2.txt','w')
l=['ooo','lll']
file.writelines(l)

In [10]:
file.close()

In [11]:
file=open('test.txt','r')

In [13]:
file.read()

'hello world\nhello world\nHello World\nhello world\nhello world\nhello world\nhello world\nHELLO WORLD\nhello world\nhello world\ni love python'

In [14]:
file.seek(0)

0

In [15]:
file.readline()

'hello world\n'

In [16]:
file.seek(0)
file.readlines()

['hello world\n',
 'hello world\n',
 'Hello World\n',
 'hello world\n',
 'hello world\n',
 'hello world\n',
 'hello world\n',
 'HELLO WORLD\n',
 'hello world\n',
 'hello world\n',
 'i love python']

In [17]:
file.close()

In [18]:
file=open('test.txt','r+')

In [19]:
file.write('eeee')

4

In [20]:
file.seek(0)
file.readlines()

['eeeeo world\n',
 'hello world\n',
 'Hello World\n',
 'hello world\n',
 'hello world\n',
 'hello world\n',
 'hello world\n',
 'HELLO WORLD\n',
 'hello world\n',
 'hello world\n',
 'i love python']

In [21]:
file.close()

In [24]:
with open('test.txt','r+') as file:
    print(file.readlines())
    file.write('\nttttt')
    file.seek(0)
    print(file.readlines())

['eeeeo world\n', 'hello world\n', 'Hello World\n', 'hello world\n', 'hello world\n', 'hello world\n', 'hello world\n', 'HELLO WORLD\n', 'hello world\n', 'hello world\n', 'i love pythonendooooo\n', 'ttttt']
['eeeeo world\n', 'hello world\n', 'Hello World\n', 'hello world\n', 'hello world\n', 'hello world\n', 'hello world\n', 'HELLO WORLD\n', 'hello world\n', 'hello world\n', 'i love pythonendooooo\n', 'ttttt\n', 'ttttt']

In [25]:
with open('test.txt','r+') as file:
    print(file.readline(3))

eee

In [26]:
st='mmmoojkll'

In [30]:
st.find('jk')

5

In [31]:
st[5]

'j'

In [35]:

subjs=['en','ar','math']
n=int(input('enter student numbers:'))
for i in range(n):
    name=input(f'enter student{i} name:')
    details[name]={s:int(input(f'enter {s} grade: ')) for s in subjs}

enter student numbers:2
enter student0 name:mm
enter en grade: 33
enter ar grade: 55
enter math grade: 66
enter student1 name:jj
enter en grade: 66
enter ar grade: 88
enter math grade: 99

In [36]:
details

{'mm': {'en': 33, 'ar': 55, 'math': 66},
 'jj': {'en': 66, 'ar': 88, 'math': 99}}

In [39]:
with open('grades.txt','w')as file:
    subjs=['en','ar','math']
    n=int(input('enter student numbers:'))
    for i in range(n):
        file.write(f'Student{i+1} \n ---------------\n')
        name=input('enter ur name: ')
        file.write(f'name:{name} \n Grades \n.........\n')
        for s in subjs:
            grade=int(input(f'Enter {s} grade:'))
            file.write(f'    {s}:{grade} \n')
        file.write('===========\n')

enter student numbers:3
enter ur name: mm
Enter en grade:77
Enter ar grade:66
Enter math grade:99
enter ur name: yy
Enter en grade:88
Enter ar grade:77
Enter math grade:99
enter ur name: tt
Enter en grade:77
Enter ar grade:88
Enter math grade:66

In [40]:
import os

In [41]:
os.listdir('.')

['.ipynb_checkpoints',
 '4. File Handling Assignment ..ipynb',
 '6. Errors and Exceptions Assignment .ipynb',
 'content.txt',
 'Day4_5_6.pdf',
 'grades.txt',
 'test.txt',
 'test2.txt',
 'Untitled.ipynb']

In [42]:
os.rename('grades.txt','details.txt')

In [43]:
dir(os)

['DirEntry',
 'F_OK',
 'MutableMapping',
 'O_APPEND',
 'O_BINARY',
 'O_CREAT',
 'O_EXCL',
 'O_NOINHERIT',
 'O_RANDOM',
 'O_RDONLY',
 'O_RDWR',
 'O_SEQUENTIAL',
 'O_SHORT_LIVED',
 'O_TEMPORARY',
 'O_TEXT',
 'O_TRUNC',
 'O_WRONLY',
 'P_DETACH',
 'P_NOWAIT',
 'P_NOWAITO',
 'P_OVERLAY',
 'P_WAIT',
 'PathLike',
 'R_OK',
 'SEEK_CUR',
 'SEEK_END',
 'SEEK_SET',
 'TMP_MAX',
 'W_OK',
 'X_OK',
 '_AddedDllDirectory',
 '_Environ',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_check_methods',
 '_execvpe',
 '_exists',
 '_exit',
 '_fspath',
 '_get_exports_list',
 '_putenv',
 '_unsetenv',
 '_wrap_close',
 'abc',
 'abort',
 'access',
 'add_dll_directory',
 'altsep',
 'chdir',
 'chmod',
 'close',
 'closerange',
 'cpu_count',
 'curdir',
 'defpath',
 'device_encoding',
 'devnull',
 'dup',
 'dup2',
 'environ',
 'error',
 'execl',
 'execle',
 'execlp',
 'execlpe',
 'execv',
 'execve',
 'execvp',
 'execvpe',
 'extsep',
 'fdopen',
 'fsdecode',
 'fsencode',
 'fspath',
 'fstat',
 'fsync',
 'ftruncate',
 'get_exec_path',
 'get_handle_inheritable',
 'get_inheritable',
 'get_terminal_size',
 'getcwd',
 'getcwdb',
 'getenv',
 'getlogin',
 'getpid',
 'getppid',
 'isatty',
 'kill',
 'linesep',
 'link',
 'listdir',
 'lseek',
 'lstat',
 'makedirs',
 'mkdir',
 'name',
 'open',
 'pardir',
 'path',
 'pathsep',
 'pipe',
 'popen',
 'putenv',
 'read',
 'readlink',
 'remove',
 'removedirs',
 'rename',
 'renames',
 'replace',
 'rmdir',
 'scandir',
 'sep',
 'set_handle_inheritable',
 'set_inheritable',
 'spawnl',
 'spawnle',
 'spawnv',
 'spawnve',
 'st',
 'startfile',
 'stat',
 'stat_result',
 'statvfs_result',
 'strerror',
 'supports_bytes_environ',
 'supports_dir_fd',
 'supports_effective_ids',
 'supports_fd',
 'supports_follow_symlinks',
 'symlink',
 'sys',
 'system',
 'terminal_size',
 'times',
 'times_result',
 'truncate',
 'umask',
 'uname_result',
 'unlink',
 'urandom',
 'utime',
 'waitpid',
 'walk',
 'write']

In [46]:
os.chdir('d:')

In [47]:
os.listdir('.')

['$RECYCLE.BIN', 'System Volume Information']

In [48]:
os.chdir('c:')

In [49]:
os.listdir('.')

['$Recycle.Bin',
 '$WINDOWS.~BT',
 '$WinREAgent',
 'Boot',
 'bootTel.dat',
 'Documents and Settings',
 'DumpStack.log',
 'DumpStack.log.tmp',
 'hiberfil.sys',
 'OneDriveTemp',
 'pagefile.sys',
 'PerfLogs',
 'Program Files',
 'Program Files (x86)',
 'ProgramData',
 'Recovery',
 'swapfile.sys',
 'System Volume Information',
 'Users',
 'Windows']

In [51]:
os.chdir('C:/Users/mgama/Downloads/Epsilon/Rowad/Session 6')

In [52]:
os.listdir('.')

['.ipynb_checkpoints',
 '4. File Handling Assignment ..ipynb',
 '6. Errors and Exceptions Assignment .ipynb',
 'content.txt',
 'Day4_5_6.pdf',
 'details.txt',
 'test.txt',
 'test2.txt',
 'Untitled.ipynb']

In [53]:
import xlsxwriter

In [54]:
workbook=xlsxwriter.Workbook('test.xlsx')
worksheet=workbook.add_worksheet()

In [55]:
worksheet.write(0,0,'col1')
worksheet.write(0,1,'col2')
worksheet.write(1,0,99)
worksheet.write(1,1,100)

workbook.close()

In [57]:
workbook=xlsxwriter.Workbook('test2.xlsx')
worksheet=workbook.add_worksheet()

data=[('egypt',8888),('usa',999),('japan',7777)]

for row in range(len(data)):
    col=0
    for col in range(len(data[0])):
        worksheet.write(row,col,data[row][col])
    
workbook.close()

In [3]:
data=[('egypt',8888),('usa',999),('japan',7777)]
len(data[0])

2

In [58]:
import pandas as pd

In [62]:
df=pd.read_excel('test2.xlsx')
df

  country  Area
0     usa   999
1   japan  7777

In [64]:
df['Area'].mean()

4388.0

In [67]:
df['Area'][0]

999

In [70]:
df.loc[0,'Area']

999

In [71]:
df=pd.read_csv('Ecommerce Purchases.csv')
df

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

In [72]:
df.describe()

        Credit Card  CC Security Code  Purchase Price
count  1.000000e+04      10000.000000    10000.000000
mean   2.341374e+15        907.217800       50.347302
std    2.256103e+15       1589.693035       29.015836
min    6.040186e+10          0.000000        0.000000
25%    3.056322e+13        280.000000       25.150000
50%    8.699942e+14        548.000000       50.505000
75%    4.492298e+15        816.000000       75.770000
max    6.012000e+15       9993.000000       99.990000

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [74]:
df=pd.read_excel('test2.xlsx')
df

  country  Area
0     usa   999
1   japan  7777

In [75]:
df['code']=['u','jp']

In [76]:
df

  country  Area code
0     usa   999    u
1   japan  7777   jp

In [78]:
df.to_excel('test5.xlsx',index=False,sheet_name='sheet1')

In [80]:
df=pd.read_excel('test5.xlsx')
df

  country  Area code
0     usa   999    u
1   japan  7777   jp

In [81]:
df.loc[0]

country    usa
Area       999
code         u
Name: 0, dtype: object

In [83]:
df.loc[2]=['Egypt',10000,'EGP']

In [84]:
df

  country   Area code
0     usa    999    u
1   japan   7777   jp
2   Egypt  10000  EGP

In [86]:
df.to_excel('test5.xlsx',index=False,sheet_name='sheet1')

In [87]:
df=pd.read_excel('test5.xlsx')
df

  country   Area code
0     usa    999    u
1   japan   7777   jp
2   Egypt  10000  EGP

In [88]:
df.shape

(3, 3)

In [89]:
df.shape[0]

3

In [93]:
df.iloc[0,1]

999