In [5]:
import pandas as pd

In [6]:
df=pd.read_csv('RME_Material_Movement_with_cos_090623.csv',encoding='utf-8-sig')
df

,Item Code,Item Desc,Uom,From,To,Project,Project Num,Trx Id,Exp id,Task Num,...,Trx Type,Move Order Num,Date,Unit Cost,Quantities,Po Num,Total Amount,Project Area,Issued Type,Comment
0,ZC03001372,بريزة خارج الحائط,ECH,El Khatatba Bridge-0143,NaN,El Khatatba Bridge,143.0,47336739.0,NaN,SE-19,...,Move Order Issue on Project,RE3-23,28-Dec-21,0,-3.0,NaN,0,NaN,supplier,NaN
1,ZC03001366,لاكور ماسورة 1 بوصة EMT,ECH,El Khatatba Bridge-0143,NaN,El Khatatba Bridge,143.0,50612566.0,NaN,SE-19,...,Move Order Issue on Project,RE3-33,28-Feb-22,0,-5.0,NaN,0,NaN,supplier,NaN
2,ZC01003004,كارت فحص دورى لطفايات الحريق,ECH,El Khatatba Bridge-0143,NaN,El Khatatba Bridge,143.0,58920590.0,NaN,SE-19,...,Move Order Issue on Project,RE3-81,25-Dec-22,0,-5.0,NaN,0,NaN,NaN,NaN
3,ZC03001365,لاكور ماسورة على فلكسبيل 1 بوصة EMT,ECH,El Khatatba Bridge-0143,NaN,El Khatatba Bridge,143.0,50612565.0,NaN,SE-19,...,Move Order Issue on Project,RE3-33,28-Feb-22,0,-10.0,NaN,0,NaN,supplier,NaN
4,ZC01003003,مثلث عاكس,ECH,El Khatatba Bridge-0143,NaN,El Khatatba Bridge,143.0,61735684.0,NaN,SE-19,...,Move Order Issue on Project,RE3-100,08-May-23,0,-1.0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5082,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5083,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5084,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5085,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5086,Page 1 of 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df[df['Item Desc'].str.contains('حامل كارت ')==True]

,Item Code,Item Desc,Uom,From,To,Project,Project Num,Trx Id,Exp id,Task Num,...,Trx Type,Move Order Num,Date,Unit Cost,Quantities,Po Num,Total Amount,Project Area,Issued Type,Comment
7,ZC01003005,حامل كارت سقالة,ECH,El Khatatba Bridge-0143,NaN,El Khatatba Bridge,143.0,55172133.0,NaN,SE-19,...,Move Order Issue on Project,RE3-58,21-Aug-22,0,-3.0,NaN,0,NaN,supplier,NaN
8,ZC01003005,حامل كارت سقالة,ECH,El Khatatba Bridge-0143,NaN,El Khatatba Bridge,143.0,56542380.0,NaN,SE-19,...,Move Order Issue on Project,RE3-68,09-Oct-22,0,-15.0,NaN,0,NaN,supplier,NaN
13,ZC01003005,حامل كارت سقالة,ECH,El Khatatba Bridge-0143,NaN,El Khatatba Bridge,143.0,51447493.0,NaN,SE-19,...,Move Order Issue on Project,RE3-40,31-Mar-22,0,-2.0,NaN,0,NaN,supplier,NaN

In [12]:
df['Item Desc'].str.contains('حامل كارت ')!=True

0       True
1       True
2       True
3       True
4       True
        ...
5082    True
5083    True
5084    True
5085    True
5086    True
Name: Item Desc, Length: 5087, dtype: bool