### If

if cond:
    
    actions
    
else:
    

    

print    
x=

In [1]:
x=8
x%2==0

True

In [2]:
if x%2==0:
    print('even')

even

In [3]:
x=9
if x%2==0:
    print('even')

In [13]:
x=9
if x%2==0:
    print('even')

print('end')

end

In [11]:
x=8
if x%2==0:
    print('even')
else:
    print('odd')

even

In [12]:
if x>8 and x%2==0:
    print('OK')
else:
    print('not ok')

not ok

In [ ]:
if cond1:
    
elif cond2:
    
elif cond3:
    
else:

In [ ]:
if cond:
    
else:

In [18]:
x=int(input('Enter: '))
if x==9:
    print(x)
    x+=3#x=x+3
    v=99
    c=int(input('Enter: '))
    print(w)
else:
    print(x)
    x-=7
    v=88
    
print(x)
print(v)
print(c)

Enter: 11
11
4
88

NameError: name 'c' is not defined

In [21]:
n1=int(input('Enter n1: '))
n2=int(input('Enter n2: '))
op=input('Operator: ') # + - / * % **


if op=='+':
    print(n1+n2)
elif op=='-':
    print(n1-n2)
elif op=='*':
    print(n1*n2)
elif op=='/':
    print(n1/n2)
elif op=='%':
    print(n1%n2)
elif op=='**':
    print(n1**n2)
else:
    print('wrong operator')

Enter n1: 3
Enter n2: 2
Operator: /
1.5

In [33]:
operation=input('Enter ur operation: ')

n1=int(operation.split()[0])
n2=int(operation.split()[2])
op=operation.split()[1]# + - / * % **


if op=='+':
    print(n1+n2)
elif op=='-':
    print(n1-n2)
elif op=='*':
    print(n1*n2)
elif op=='/':
    print(n1/n2)
elif op=='%':
    print(n1%n2)
elif op=='**':
    print(n1**n2)
else:
    print('wrong operator')

Enter ur operation: 4 + 7
11

In [23]:
operation=input('Enter ur operation: ')

Enter ur operation: 4 + 7

In [24]:
operation

'4 + 7'

In [32]:
operation .split()[2]

'7'

In [45]:
print('options \n 1- Addition \n 2- Subtract \n 3- Multiply \n 4- Divide ')
option=input('Enter ur option: ')
if option =='1':
    operation=input()
    n1=int(operation.split('+')[0])
    n2=int(operation.split('+')[1])
    print(f'{n1} + {n2} ={n1+n2}')
elif option =='2':
    operation=input()
    n1=int(operation.split('-')[0])
    n2=int(operation.split('-')[1])
    print(f'{n1} - {n2} ={n1-n2}')
elif option =='3':
    operation=input()
    n1=int(operation.split('*')[0])
    n2=int(operation.split('*')[1])
    print(f'{n1} * {n2} ={n1*n2}')
elif option =='4':
    operation=input()
    n1=int(operation.split('/')[0])
    n2=int(operation.split('/')[1])
    if n2 ==0:
        print("can't divide on zero")
    else:
        print(f'{n1} / {n2} ={n1/n2}')
else:
    print('wrong option')

options
 1- Addition
 2- Subtract
 3- Multiply
 4- Divide
Enter ur option: 4
5/0
can't divide on zero

In [39]:
opt='3 + 7 '
opt.split('+')

['3 ', ' 7 ']

In [40]:
int('3 ')

3

In [47]:
n=float('inf')
n

inf

In [49]:
n=None

In [66]:
# input a text then check if the length > 15 print the last 3 chars , 
#if length >20 print the second half of the string else print the first word 
text=input()

if len(text)>20:
    print (text[int(len(text)/2):])
elif len(text) >15:
    print(text[-3:])
else:
    print(text.split()[0])

mmmm
mmmm

In [52]:
x=30

if x>20:
    print('2')
elif x>15:
    print('1')
else:
    print('3')

1

In [53]:
t='mmmm hhfklll'

In [55]:
len(t)/2

6.0

In [57]:
t[6.0]

TypeError: string indices must be integers

In [58]:
t[int(len(t)/2):]

'hfklll'

In [59]:
t

'mmmm hhfklll'

In [60]:
t[:len(t.split())]

'mm'

In [62]:
t.split()

['mmmm', 'hhfklll']

### For loops

In [67]:
l=[1,2,3,4]
print(l[0])
print(l[1])

1
2

In [68]:
for var in l:
    print(var)

1
2
3
4

In [70]:
12 in [3,5,66,1]

False

In [75]:
list(range(2,10,2))

[2, 4, 6, 8]

In [78]:
range(10)

range(0, 10)

In [81]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [82]:
x=0
l=[1,2,3,5,8]
for i in l:
    x+=i
    
print(x)

19

In [85]:
for i in range(10):
    i+=1
    print('hello')
    print(i)

hello
1
hello
2
hello
3
hello
4
hello
5
hello
6
hello
7
hello
8
hello
9
hello
10

In [90]:
d=['hhh','iii','ooo']
for t in d:
    print(t)
    print('-'*22)#-------
    for i in t:
        print(i)
    print('-'*12)#-------

hhh
----------------------
h
h
h
------------
iii
----------------------
i
i
i
------------
ooo
----------------------
o
o
o
------------

In [87]:
name='mohamed'
for w in name:
    print(w)

m
o
h
a
m
e
d

In [97]:
x=9
y=10
for i in range(10):
    x+=i
    y-=i

In [92]:
x

54

In [93]:
y

-35

In [95]:
l=[input(),input()]

44
55

In [96]:
l

['44', '55']

In [98]:
l1=list(range(1,13))
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [99]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [100]:
x=8

In [101]:
x*=2

In [102]:
x

16

In [103]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [104]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [110]:
for i in range(1,13):
    
    print(f'Mult table for {i}')
    print('-'*3)
    for j in range(1,13):
        print(f'{i}*{j}={i*j}')
    print('-'*4)

Mult table for 1
---
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
1*11=11
1*12=12
----
Mult table for 2
---
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
2*11=22
2*12=24
----
Mult table for 3
---
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
3*11=33
3*12=36
----
Mult table for 4
---
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
4*11=44
4*12=48
----
Mult table for 5
---
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
5*11=55
5*12=60
----
Mult table for 6
---
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60
6*11=66
6*12=72
----
Mult table for 7
---
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70
7*11=77
7*12=84
----
Mult table for 8
---
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
8*10=80
8*11=88
8*12=96
----
Mult table for 9
---
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
9*10=90
9*11=99
9*12=108
----
Mult table for 10
---
10*1=10
10*2=20
10*3=30
10*4=40
10*5=50
10*6=60
10*7=70
10*8=80
10*9=90
10*10=100
10*11=110
10*12=120
----
Mult table for 11
---
11*1=11
11*2=22
11*3=33
11*4=44
11*5=55
11*6=66
11*7=77
11*8=88
11*9=99
11*10=110
11*11=121
11*12=132
----
Mult table for 12
---
12*1=12
12*2=24
12*3=36
12*4=48
12*5=60
12*6=72
12*7=84
12*8=96
12*9=108
12*10=120
12*11=132
12*12=144
----

In [111]:
for i in [3,5,12,7,9,14,5]:
    if i%2 ==0:
        print(i)

12
14

In [112]:
for i in range(25):
    if i%2==0:
        print(i,'Even')
    else:
        print(i,'Odd')

0 Even
1 Odd
2 Even
3 Odd
4 Even
5 Odd
6 Even
7 Odd
8 Even
9 Odd
10 Even
11 Odd
12 Even
13 Odd
14 Even
15 Odd
16 Even
17 Odd
18 Even
19 Odd
20 Even
21 Odd
22 Even
23 Odd
24 Even

In [ ]:
# input a statment then print the words if their length is even

In [113]:
st=input()

hello guys let's learn some cool stuff

In [114]:
st

"hello guys let's learn some cool stuff "

In [115]:
st.split()

['hello', 'guys', "let's", 'learn', 'some', 'cool', 'stuff']

In [117]:
for w in st.split():
    if len(w)%2==0:
        print(w)

guys
some
cool

In [118]:
l=[3,55,7,11,8,3,24,67]
sum_even_nums=0
for i in l:
    if i%2==0:
        sum_even_nums+=i
print(sum_even_nums)

32

In [121]:
for i in l:
    print(i)
    print('-------')
    if i ==24:
        break
    print(i**2)
    print('===')

3
-------
9
===
55
-------
3025
===
7
-------
49
===
11
-------
121
===
8
-------
64
===
3
-------
9
===
24
-------

In [124]:
l=[3,55,7,11,8,3,24,67,66,8]
for i in l:
    print(i)
    print('-------')
    if i ==24:
        continue
    print(i**2)
    print(1)
    print(3)
    print(33)
    print('===')

3
-------
9
1
3
33
===
55
-------
3025
1
3
33
===
7
-------
49
1
3
33
===
11
-------
121
1
3
33
===
8
-------
64
1
3
33
===
3
-------
9
1
3
33
===
24
-------
67
-------
4489
1
3
33
===
66
-------
4356
1
3
33
===
8
-------
64
1
3
33
===

In [125]:
l

[3, 55, 7, 11, 8, 3, 24, 67, 66, 8]

In [126]:
sum_=0
for i in l:
    if i%2==0 and i>20:
        break
    sum_+=i

    
sum_

87

In [127]:
s=0
for i in l:
    if i%2==0 and i>20:
        continue
    s+=i
    
s

162

In [134]:
for i in l:
    print(i**2)
    if i>24:
        break
else:
    print('for ends')
    print(i)

9
3025

In [135]:
for i in l:
    print(i**2)
    if i>24:
        break
print('for ends')
print(i)

9
3025
for ends
55

### While

while cond:
    block

In [144]:
x=int(input())
counter=0
while x!=0:
    print(x)
    x+=9
    print(x)
    x=int(input())
    counter+=1
else:
    print(x)

4
4
13
6
6
15
7
7
16

KeyboardInterrupt: Interrupted by user

In [145]:
counter

2

In [141]:
counter=0
while counter <5:
    print('hello')
    counter+=1
    print(counter)

hello
1
hello
2
hello
3
hello
4
hello
5

In [146]:
s=0
x=int(input())
while x<23:
    s+=x
    x+=2
    
s

12

102

In [148]:
s=0
for i in range(12,23,2):
    s+=i 
    
s

102