###  Write a Python program to convert a string to a list.

In [26]:
s = 'i live in egypt'
x = list(s)
x

['i', ' ', 'l', 'i', 'v', 'e', ' ', 'i', 'n', ' ', 'e', 'g', 'y', 'p', 't']

In [27]:
s.split()

['i', 'live', 'in', 'egypt']

### Write a Python program to sum all the items in a list.

In [29]:
# 1
l = [0 , 20,18, 1, 2, 5, 8, 11, 13]
print(sum(l))
# 2
summ = 0
for item in l:
    summ = summ + item # item = 8 summ = 8 --> summ = 8 + 8 = 16
summ

40

40

### Write a Python program to get the largest number from a list

In [33]:
l = [0 , 20,18, 1, 2, 5, 8, 11, 13]
# 1 
l.sort()
print(l[-1])

# 2 
print(max(l))

# 3 
maxx = 0
for item in l:
    if item > maxx: # item = 20 --> maxx = 20
        maxx = item
maxx

20
20

20

### Write a Python program to remove duplicates from a list.

In [34]:
l = [0 , 20,18, 1, 2, 5, 8, 11, 13, 0, 1, 5, 20, 18]
set(l)

{0, 1, 2, 5, 8, 11, 13, 18, 20}

### Write a Python program to check if a list is empty or not

In [36]:
l = []
if len(l) == 0:
    print('empty')
else:
    print('has elments')

empty

### Write a Python program to print a specified list after removing the 0th, 4th and 5th elements. 
#### Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
#### Expected Output : ['Green', 'White', 'Black']

In [40]:
l = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
l = l[1:4]
l

['Green', 'White', 'Black']

In [41]:
l = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
l.remove(l[0])

In [42]:
l

['Green', 'White', 'Black', 'Pink', 'Yellow']

### Write a python program to count a character in a string

In [47]:
a = 'my name is anas awad and i live in egypt and am 25 years old and am single'
a.count('w')

1

### Write a Python program to find the second smallest number in a list.

In [49]:
l = [0 , 20,18, 1, 2, 5, 8, 11, 13]
l.sort()
l[1]

1

### Write a Python program to find the second largest number in a list

In [52]:
l = [0 , 20,18, 1, 2, 5, 8, 11, 13]
l.sort()
l[-2]

18

### Write a Python program to get unique values from a list

In [53]:
l = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow', 'Black', 'Pink','Green', 'White']
set(l)

{'Black', 'Green', 'Pink', 'Red', 'White', 'Yellow'}

In [54]:
len(l) > len(set(l))

True

### Write a Python program to create a list by concatenating a given list with a range from 1 to n.
#### Sample list : ['p', 'q']
#### n =5
#### Sample Output : ['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

In [58]:
l =  ['p', 'q']
n = 7
o = []
for i in range(1, n+1): 
    for item in l: 
        o.append(item + str(i))
    
o

['p1',
 'q1',
 'p2',
 'q2',
 'p3',
 'q3',
 'p4',
 'q4',
 'p5',
 'q5',
 'p6',
 'q6',
 'p7',
 'q7']

### Write a Python program to find common items in two lists

In [59]:
l = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
l2 = ['Blue', 'Green', 'White', 'Black', 'Purple']
l = set(l)
l2 = set(l2)

l.intersection(l2)

{'Black', 'Green', 'White'}

### Write a Python program to check if all items in a given list of strings are equal to a given string.

In [63]:
l = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
all(item == 'Red' for item in l)

False

### Write a Python program to replace the last element in a list with another list.
#### Sample data : [1, 3, 5, 7, 9, 10], [2, 4, 6, 8]
#### Expected Output: [1, 3, 5, 7, 9, 2, 4, 6, 8]

In [66]:
n = [1, 3, 5, 7, 9, 10]
rep = [2, 4, 6, 8]
# way 1
n.remove(n[-1])
n = n + rep
print(n)


# way 2
n = [1, 3, 5, 7, 9, 10]
n[-1:] = rep
print(n)

[1, 3, 5, 7, 9, 2, 4, 6, 8]
[1, 3, 5, 7, 9, 2, 4, 6, 8]

### Write a python to count each character in a string and return each character count
#### sample : 'anas awad mohamed'
#### Expected : {'a': 5, 'n':1, 's':1, 'w': 1, 'd': 2, 'm': 2, 'o':1, 'h':1, 'e':1}

In [73]:
s = 'anas awad mohamed'
l = set(s)
l.remove(' ')
l = sorted(l)
# {'n', 'w', 'h', 'a', 'm', 's', 'e', 'd', 'o'}
# {key : value}
{i: s.count(i) for i in l}

{'a': 5, 'd': 2, 'e': 1, 'h': 1, 'm': 2, 'n': 1, 'o': 1, 's': 1, 'w': 1}

#### keys = ['Ten', 'Twenty', 'Thirty'] ,values = [10, 20, 30]
#### Expected Ouptut : {'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [81]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
print(list(zip(keys, values)))
d = dict(zip(keys, values))
d.items()

[('Ten', 10), ('Twenty', 20), ('Thirty', 30)]

dict_items([('Ten', 10), ('Twenty', 20), ('Thirty', 30)])

#### dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}  ,dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
#### Expected output : {'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [83]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30} 
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict1.update(dict2)
dict1

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

### sample_set = {"Yellow", "Orange", "Black"}
### sample_list = ["Blue", "Green", "Red"]

## Expected : {'Green', 'Yellow', 'Black', 'Orange', 'Red', 'Blue'}

In [84]:
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]
sample_set.update(sample_list)
sample_set

{'Black', 'Blue', 'Green', 'Orange', 'Red', 'Yellow'}

### Return a new set of identical items from two sets
#### set1 = {10, 20, 30, 40, 50}
#### set2 = {30, 40, 50, 60, 70}

### Expected : {40, 50, 30}

In [85]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.intersection(set2)

{30, 40, 50}

### Get Only unique items from two sets

#### set1 = {10, 20, 30, 40, 50}
#### set2 = {30, 40, 50, 60, 70}

### Expected : {70, 40, 10, 50, 20, 60, 30}

In [86]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.union(set2)

{10, 20, 30, 40, 50, 60, 70}

## Print the value of key ‘history’ 


sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}


# Expected output 80

In [87]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [91]:
sampleDict['class']['student']['marks']['history']

80

## Create New dictionary  from mentioned keys only 


sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to extract
keys = ["name", "salary"]


# Expected output

In [93]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to extract
keys = ["name", "salary"]

In [95]:
{key: sample_dict[key] for key in keys}

{'name': 'Kelly', 'salary': 8000}