In [7]:
import psycopg2
import pandas as pd

In [8]:
connection = psycopg2.connect(
    host="localhost",
    dbname="rme",
    user="postgres",
    password="omar_321"
)
cursor= connection.cursor()

In [9]:
cursor.execute("""
    SELECT project_no, SUM(amount) AS total_cost
    FROM cost_dist
    WHERE project_no IN ('122', '130', '143', '152', '157', '166','167', '168', '169')
    GROUP BY project_no;
""")
records = cursor.fetchall()

df = pd.DataFrame(records, columns=["project_no", "total_cost"])

In [10]:
df = df.assign(total_cost=df.total_cost.astype(int).apply('{:,}'.format))
print(df)

  project_no   total_cost
0        122  658,127,435
1        130  117,549,965
2        143  180,315,385
3        152  403,431,385
4        157  157,647,242
5        166  265,461,554
6        167  153,761,613
7        168  117,563,137
8        169   33,938,680

In [11]:
#if decimal is needed
#df['total_cost'] = pd.to_numeric(df['total_cost'].fillna(0), errors='coerce')    
#df['total_cost'] = df['total_cost'].map('{:,.2f}'.format)
#print(df)

In [12]:
cursor.close()
connection.close()