## OOP

In [1]:
type([12,34,'dfgsfd'])

list

In [2]:
print(type([12,34,'dfgsfd']))

<class 'list'>

In [3]:
l=[1,2,4,'eee']

In [4]:
l.append('999')

In [5]:
l

[1, 2, 4, 'eee', '999']

In [6]:
class c1:
    pass

In [7]:
ob1=c1()

In [8]:
ob2=c1()

In [19]:
class c2:
    def __init__(self,c):
        self.x=c
        print('init')
    def f1(self):
        return self.x+10

In [20]:
ob1=c2(8)

init

In [21]:
ob1.f1()

18

In [22]:
ob2=c2(89)

init

In [23]:
ob2.f1()

99

In [24]:
class user:
    def __init__(self,name,gender,age):
        self.name=name
        self.gender=gender
        self.age=age
        print('init....')
        
    def show(self):
        print('name:',self.name)
        print('age:',self.age)
        print('gender:',self.gender)

In [25]:
user1=user('mg','male',33)

init....

In [26]:
user1.age

33

In [27]:
user1.name

'mg'

In [28]:
user1.show()

name: mg
age: 33
gender: male

In [29]:
name=input('Enter ur name:')
gender=input('Enter ur gender:')
age=int(input('Enter ur age:'))

user2=user(name,gender,age)

Enter ur name:ali
Enter ur gender:male
Enter ur age:77
init....

In [30]:
user2.name

'ali'

In [31]:
user2.show()

name: ali
age: 77
gender: male

In [32]:
class userx:
    def __init__(self):
        self.name=input('Enter ur name: ')
        self.gender=input('Enter ur gender: ')
        self.age=int(input('Enter ur age: '))
        print('init....')
        
    def show(self):
        print('name:',self.name)
        print('age:',self.age)
        print('gender:',self.gender)

In [33]:
us1=userx()

Enter ur name: sara
Enter ur gender: female
Enter ur age: 22
init....

In [34]:
us1.name

'sara'

In [35]:
us1.show()

name: sara
age: 22
gender: female

In [64]:
class userq:
    def __init__(self,name,age):
        
        self.__name=name
        self.__age=age
        
    def getter(self):
        print(self.__name,'   ',self.__age)
    def getname(self):
        print('name:',self.__name)
        
    def setname(self,name):
        if type(name) == str :
            self.__name= name
        else:
            print('wrong value')

In [69]:
user122=userq('mg',33)

In [77]:
user122.getter()

uuu     33

In [76]:
user122.setname('uuu')

In [63]:
us1.name

'ali'

In [95]:
class ch(userq):
    def __init__(self,name,age):
        userq.__init__(self,name,age)
        print('ch init')
        
    def ccc(self):
        print('ccc ch')

In [96]:
d=ch('kk',23)

ch init

In [97]:
d.getname()

name: kk