In [2]:
import os
import psycopg2
import pandas as pd
from google.cloud import sql

ModuleNotFoundError: No module named 'google'

In [6]:
os.environ["rmedb-395804"] = "your-project-id"
project_id = os.environ["rmedb-395804"]
instance_name = "rme"
database = "rme"
username = "postgres"
password = "omar_321"

connection = psycopg2.connect(
    host="34.67.241.108",
    port=5432,
    database=database,
    user=username,
    password=password,
)
cursor = connection.cursor()

In [7]:
cursor.execute("""
    SELECT project_no, SUM(amount) AS total_cost
    FROM cost_dist
    WHERE project_no IN ('122', '130', '143', '152', '157', '167', '168', '169')
    GROUP BY project_no;
""")
records = cursor.fetchall()

df = pd.DataFrame(records, columns=["project_no", "total_cost"])
connection.close()

In [8]:
df = df.assign(total_cost=df.total_cost.astype(int).apply('{:,}'.format))
print(df)

  project_no   total_cost
0        122  666,916,414
1        130  117,405,340
2        143  185,758,338
3        152  383,959,216
4        157  150,652,193
5        167  139,646,091
6        168  102,052,248
7        169   33,926,061