In [115]:
import pymysql
import pandas as pd

In [116]:
# Connect to the MySQL database
conn = pymysql.connect(host="127.0.0.1", user="omar.e", password="omar_321", database="omar.rme")
cursor = conn.cursor()

In [117]:
# Read the column names from the Excel file
df = pd.read_excel('test.xlsx', sheet_name='Sheet1')
column_names = list(df)

In [118]:
sql = """CREATE TABLE `test01` (
        `col01` varchar(255) NULL,
        `col02` varchar(255) NULL,
        `col03` varchar(255) NULL
    ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;"""

cursor.execute(sql)

0

In [119]:
# Append the data from the Pandas DataFrame to the MySQL table
df.to_sql('test01', conn, if_exists='append', index=False)

C:\Users\user\AppData\Local\Temp\ipykernel_3080\58272058.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df.to_sql('test01', conn, if_exists='append', index=False)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': not all arguments converted during string formatting

In [ ]:
# Close the connection to the MySQL database
conn.close()