In [19]:
import pyodbc
import pandas as pd

In [20]:
conn_str = ("Driver={SQL Server};"
            "Server=DESKTOP-609HS8C\OMAR;"
            "Database=rme;"
            "Trusted_Connection=yes;")
conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

In [21]:
sql_query = f"""
SELECT TOP 100 * FROM cost_dist
"""
df = pd.read_sql_query(sql_query, conn)

In [22]:
conn.close()
print(df)