In [1]:
import pyodbc

def connect_to_sql_server(server, database, user, password):
    """Connects to a SQL Server database and returns a connection object."""
    conn_str = (
        r'DRIVER={SQL Server};'
        r'SERVER=' + server + ';'
        r'DATABASE=' + database + ';'
        r'UID=' + user + ';'
        r'PWD=' + password + ';'
    )
    conn = pyodbc.connect(conn_str)
    return conn

def execute_query(conn, query):
    """Executes a SQL query and returns the results as a list of tuples."""
    cursor = conn.cursor()
    cursor.execute(query)
    results = cursor.fetchall()
    cursor.close()
    return results

if __name__ == "__main__":
    server = '10.10.11.241'
    database = 'omar.rme1'
    user = 'yasser'
    password = 'yasser123'
    query = """
        SELECT project_no, SUM(amount) AS total_cost
        FROM cost_dist
        WHERE project_no IN ('122', '130', '143', '152', '157', '166','167', '168', '169')
        GROUP BY project_no;
    """

    try:
        conn = connect_to_sql_server(server, database, user, password)
        results = execute_query(conn, query)

        for row in results:
            print(row)

    except Exception as e:
        print("Error:", e)
    finally:
        if conn:
            conn.close()

Error: ('08001', '[08001] [Microsoft][ODBC SQL Server Driver][DBNETLIB]SQL Server does not exist or access denied. (17) (SQLDriverConnect); [08001] [Microsoft][ODBC SQL Server Driver][DBNETLIB]ConnectionOpen (Connect()). (53)')

NameError: name 'conn' is not defined